{{ 'section-find-perfect-gift.css' | asset_url | stylesheet_tag }}

<div class="find-perfect-gift">
    <div class="bgArc">&nbsp;</div>
    <div class="page-width">
        <div class="section-heading">
            <h5 class="title-helper">Not Sure What To Get?</h5>
            <h2>Find The Perfect Box</h2>
        </div>
        <div class="find-perfect-gift-form-wrapper">
            <form action="" class="find-perfect-gift-form">
                <div class="elems-top">
                    <div class="form-group">
                        <label>Who is this for?</label>
                        <select class="form-control">
                            <option value="">Family</option>
                            <option value="">Family</option>
                            <option value="">Family</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>What’s the occasion?</label>
                        <select class="form-control">
                            <option value="">Congratulations</option>
                            <option value="">Congratulations</option>
                            <option value="">Congratulations</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>What’s your budget?</label>
                        <select class="form-control">
                            <option value="">$90 to $120</option>
                            <option value="">$90 to $120</option>
                            <option value="">$90 to $120</option>
                        </select>
                    </div>
                </div>
                <div class="submit-button-wrapper">
                    <button class="btn btn-red-gradient">Find The Perfect Gift</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Section: Perfect Gift",
        "settings": [
            
            ]
    }
{% endschema %}