{{ 'section-slider-with-thumbnail.css' | asset_url | stylesheet_tag }}

<div class="outer-js-slider-with-thumb">
    <div class="page-width">
        <div class="swiper main-slider-with-thumb">
            <div class="swiper-wrapper">
                {% for image in product.metafields.arena.gallery_image %}
                    <div class="swiper-slide ">
                        {% assign imageUrl = image | split: "/" | last | prepend: "files/" %}
                        {% assign imageUrlFInal = imageUrl | split: "?" | first %}
                        <image src="{{image}}" alt="">
                        <span class="label">{{product.metafields.arena.image_title[forloop.index0]}}</span>                     
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="outer-thumnail-slider">
            <div thumbsSlider="" class="swiper thumnail-slider">
                <div class="swiper-wrapper">
                    {% for image in product.metafields.arena.gallery_image %}
                        <div class="swiper-slide">
                            <image src="{{image}}" alt="">
                        </div>
                    {% endfor %}
                </div>                
            </div>
            <button class="swiper-button-prev">
                {% render 'icon-arrow-left' %}
            </button>
            <button class="swiper-button-next">
                {% render 'icon-arrow-right' %}
            </button>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Slider with thumb",
    "tag": "section",
    "class": "section",    
    "settings": [
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 36
        }
    ],

    "presets": [
            {
                "name": "Slider with thumb"              
            }
            
        ]        
}
{% endschema %}