/*
* Mixin for easy media queries
* @include bp(tablet-only) { SCSS here };
* Default css is for mobile screens
*/
.section-welcome {
  position: relative;
  z-index: 1;
}
@media (min-width: 990px) {
  .section-welcome .inner-page-width {
    max-width: 96.2rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.section-welcome .image-section {
  position: relative;
}
.section-welcome .image-section .large-image img {
  min-height: 19rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 3rem;
}
@media (min-width: 750px) {
  .section-welcome .image-section .large-image img {
    border-radius: 10rem;
  }
}
.section-welcome .image-section img {
  width: 100%;
}
.section-welcome .image-section .small-image-sideload {
  position: absolute;
  bottom: 0;
  left: -4rem;
  right: -2rem;
  transform: translateY(38%);
}
@media (min-width: 750px) {
  .section-welcome .image-section .small-image-sideload {
    left: -8rem;
    right: -4rem;
  }
}
