/*
* Mixin for easy media queries
* @include bp(tablet-only) { SCSS here };
* Default css is for mobile screens
*/
.testimonials {
  overflow: hidden;
  margin-bottom: 10rem;
  position: relative;
}
@media (min-width: 768px) {
  .testimonials {
    margin-bottom: 9rem;
    padding-bottom: 9rem;
  }
}
.testimonials.has-bgArc {
  padding-top: 10rem;
}
@media (min-width: 768px) {
  .testimonials.has-bgArc {
    padding-top: 17.5rem;
    padding-bottom: 13rem;
    margin-bottom: 8rem;
  }
}
.testimonials .section-heading .title-helper {
  color: #249FB7;
}
.testimonials .section-heading h2 {
  color: #0D4867;
}
.testimonials .swiper {
  padding-bottom: 8rem;
  width: 100%;
}
.testimonials .swiper .swiper-wrapper {
  transition-timing-function: linear;
}
.testimonials .swiper .swiper-slide {
  background-color: #ffffff;
  background: linear-gradient(34.63deg, rgba(255, 255, 255, 0.75) 25.57%, rgba(255, 255, 255, 0.35) 72.23%);
  box-shadow: 0px 4rem 4rem rgba(27, 108, 148, 0.15);
  border-radius: 11rem;
  padding: 4rem 4.5rem 4rem 6rem;
  width: 42.7rem;
  height: auto;
}
.testimonials .swiper .swiper-slide .elems-top {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.testimonials .swiper .swiper-slide .thumb-img {
  margin-right: 1.6rem;
}
.testimonials .swiper .swiper-slide .thumb-img img {
  width: 5rem;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  display: block;
}
.testimonials .swiper .swiper-slide .name {
  color: #0D4867;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
}
.testimonials .swiper .swiper-slide .address {
  color: rgba(80, 79, 81, 0.75);
  text-transform: capitalize;
  line-height: 1;
}
.testimonials .swiper .swiper-slide blockquote {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.3;
  color: #1F1F1F;
  padding-left: 3.2rem;
  border: none;
  margin: 0;
  font-style: normal;
  position: relative;
}
.testimonials .swiper .swiper-slide blockquote .floating-quote {
  position: absolute;
  left: 0;
  top: 0.3rem;
  width: 1.4rem;
}
.testimonials .swiper .swiper-slide blockquote .floating-quote img, .testimonials .swiper .swiper-slide blockquote .floating-quote svg {
  width: 100%;
}
.testimonials .swiper.js-testimonials-slider-btm {
  margin-top: -6.5rem;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .testimonials .swiper.js-testimonials-slider-btm {
    margin-top: -4rem;
  }
}
.testimonials .btn-wrapper {
  text-align: center;
  margin-top: -4rem;
}
@media (min-width: 768px) {
  .testimonials .btn-wrapper {
    margin-top: -2rem;
  }
}
