/*
* Mixin for easy media queries
* @include bp(tablet-only) { SCSS here };
* Default css is for mobile screens
*/
.section-best-seller {
  margin-bottom: 18rem;
  overflow: hidden;
}
.section-best-seller .best-seller-slider {
  position: relative;
  overflow: initial;
}
.section-best-seller .best-seller-slider:before, .section-best-seller .best-seller-slider:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #FFF5F1;
  opacity: 0.5;
  width: 999999999999999px;
  z-index: 2;
  filter: blur(30px);
}
.section-best-seller .best-seller-slider:before {
  right: 0;
  transform: translateX(100%);
}
.section-best-seller .best-seller-slider:after {
  left: 0;
  transform: translateX(-100%);
}
.section-best-seller .best-seller-slider .swiper-slide {
  justify-content: center;
  align-items: center;
}
.section-best-seller .swiper-btn {
  top: 18rem;
}

.swiper-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff;
  font-weight: 500;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1019607843);
  outline: none;
  padding: 2rem;
}
.swiper-btn::after {
  content: none;
}

.product-card-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
