/*
* Mixin for easy media queries
* @include bp(tablet-only) { SCSS here };
* Default css is for mobile screens
*/
.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

@media screen and (max-width: 749px) {
  .contact.grid {
    display: block;
  }
}

.contact .field {
  margin-bottom: 1.5rem;
}

.contact .subtitle {
  color: #B62940;
  font-weight: normal;
  line-height: 1.3;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 750px) {
  .contact .subtitle {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
}

.contact-wrapper {
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 750px) {
  .contact-wrapper:before, .contact-wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: -1;
  }
}
@media screen and (min-width: 750px) {
  .contact-wrapper:before {
    left: 0;
    background: linear-gradient(152.61deg, #FF9A7C 7.91%, #FEC4B0 93.01%);
  }
}
@media screen and (min-width: 750px) {
  .contact-wrapper:after {
    background: #F0E9D7;
    right: 0;
  }
}

.contact .grid__item {
  padding: 6rem 2rem;
}
@media screen and (min-width: 750px) {
  .contact .grid__item {
    padding-top: 9rem;
    padding-bottom: 12rem;
  }
}
@media screen and (min-width: 750px) {
  .contact .grid__item:nth-child(1) {
    padding-right: 7rem;
  }
}
@media screen and (max-width: 749px) {
  .contact .grid__item:nth-child(1) {
    background: linear-gradient(152.61deg, #FF9A7C 7.91%, #FEC4B0 93.01%);
    text-align: center;
  }
}
@media screen and (min-width: 750px) {
  .contact .grid__item:nth-child(2) {
    padding-left: 12rem;
  }
}
@media screen and (max-width: 749px) {
  .contact .grid__item:nth-child(2) {
    background: #F0E9D7;
  }
}
.contact .contact-info {
  margin-top: 6rem;
}
@media screen and (min-width: 750px) {
  .contact .contact-info {
    margin-top: 7rem;
  }
}
.contact .contact-info .contact-item:not(:last-child) {
  margin-bottom: 3.5rem;
}
.contact .contact-info .contact-item h5 {
  color: #1F1F1F;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 1.5rem;
}
.contact .contact-info .contact-item .icon {
  color: #B62940;
  margin-right: 1rem;
}
.contact .contact-info .contact-item .label-value {
  font-size: 2rem;
  line-height: 1;
  font-weight: 600;
  color: #1F1F1F;
}
.contact .field {
  display: block;
  margin-bottom: 2rem;
}
@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 3rem;
  }
}
.contact .field:before, .contact .field:after {
  display: none;
}
.contact .field__input {
  background-color: transparent;
  border: 1px solid rgba(80, 79, 81, 0.5);
  padding: 1.5rem 2.5rem;
  font-size: 2rem;
  font-weight: normal;
}
.contact .field__input:focus {
  padding: 1.5rem;
  border-radius: 10rem;
  background-color: #ffffff;
}
.contact ::-moz-placeholder {
  color: rgba(31, 31, 31, 0.5);
  opacity: 1; /* Firefox */
}
.contact ::placeholder {
  color: rgba(31, 31, 31, 0.5);
  opacity: 1; /* Firefox */
}
.contact ::-ms-input-placeholder { /* Edge 12 -18 */
  color: rgba(31, 31, 31, 0.5);
}
.contact .field__label {
  position: static;
  color: black;
  margin-left: 2.5rem;
  margin-bottom: 1rem;
  display: block;
  transform: initial;
}
@media screen and (max-width: 749px) {
  .contact .field__label {
    font-size: 1.4remj;
  }
}
.contact .field__label span {
  color: #ED4C66;
}
.contact .text-area.field__input {
  height: 16rem;
  border-radius: 2.5rem;
}
.contact .contact__button {
  text-align: right;
  margin-top: 0;
}
.contact .button {
  background: linear-gradient(180deg, #B62940 0%, #ED4C66 80%);
}
@media screen and (max-width: 749px) {
  .contact .button {
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 3rem;
  }
}
.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}
@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
