/*
* Mixin for easy media queries
* @include bp(tablet-only) { SCSS here };
* Default css is for mobile screens
*/
.section-best-seller {
  margin-bottom: 8.5rem;
  overflow: hidden;
  position: relative;
}
@media (min-width: 768px) {
  .section-best-seller {
    margin-bottom: 18rem;
  }
}
.section-best-seller .best-seller-slider {
  position: relative;
  overflow: initial;
}
.section-best-seller .best-seller-slider .swiper-slide {
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease-out;
  height: auto;
}
.section-best-seller .best-seller-slider .swiper-slide:not(.swiper-slide-next):not(.swiper-slide-prev):not(.swiper-slide-active) {
  opacity: 0.4;
}
.section-best-seller .best-seller-slider .swiper-slide .product-card-item, .section-best-seller .best-seller-slider .swiper-slide .product-card, .section-best-seller .best-seller-slider .swiper-slide .link {
  height: 100%;
}
.section-best-seller .swiper-buttons {
  padding-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .section-best-seller .swiper-buttons {
    margin-top: 4rem;
  }
}
@media (min-width: 768px) {
  .section-best-seller .swiper-buttons .swiper-button-prev, .section-best-seller .swiper-buttons .swiper-button-next {
    top: 16rem;
    position: absolute;
  }
}
@media (min-width: 768px) {
  .section-best-seller .swiper-buttons .swiper-button-prev {
    left: -3rem;
    transform: translateX(-100%);
  }
}
@media (min-width: 768px) {
  .section-best-seller .swiper-buttons .swiper-button-next {
    right: -3rem;
    transform: translateX(100%);
  }
}
