/*
* Mixin for easy media queries
* @include bp(tablet-only) { SCSS here };
* Default css is for mobile screens
*/
.main-page-intro-section {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
}

.page-title {
  margin-top: 0;
}

.main-page-title {
  font-size: 2rem;
}

@media screen and (min-width: 750px) {
  .main-page-intro-section {
    font-size: 1.8rem;
  }
  .main-page-title {
    margin-bottom: 2.5rem;
    font-size: 2.4rem;
    color: #1F1F1F;
  }
}
.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
