@import './mixins/helpers';

.section-welcome {
    position: relative;
    z-index: 1;
    padding-top: 6rem;
    margin-bottom: 18rem;
    @include bp(md) {
        margin-bottom: 33.5rem;
    }
    .inner-page-width {
        @include bp(lg) {
            max-width: 96.2rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .floating-bg-image {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
    }   
    .image-section {
        position: relative;
        .large-image {
            img {
                min-height: 19rem;
                object-fit: cover;
                object-position: center;
                border-radius: 3rem;
                @include bp(md) {
                    border-radius: 10rem;
                }
            }
        }
        img {
            width: 100%;
        }
        .small-image-sideload {
            position: absolute;
            bottom: 0;
            left: -4rem;
            right: -2rem;
            transform: translateY(38%);
            @include bp(md) {
                left: -8rem;
                right: -4rem;
            }
        }
    }
}