@import './mixins/helpers';

.product-additional__info {
    margin-bottom: 4rem;
    .grid__item {
        display: flex;
        flex-direction: column;
        align-items: center;   
        .box {
            display: flex;
            align-items: center;     
        }
        .icon {
            background: white;
            color: $color-red;
            border-radius: 50%;
            height: 6.4rem;
            width: 6.4rem;
            padding: 1.5rem;
            margin-right: 2rem;
            box-shadow: 0px 25px 50px rgba(75, 29, 10, 0.25);
        }
        h3 {
            font-size: 3rem;
            line-height: 1;
            font-weight: bold;
            color: $color-black;
            margin-bottom: 0.2rem;
            &.accordion__title {
                max-width: initial;
            }
        }
        .caption {
            text-transform: capitalize;
            font-size: 1.8rem;
            line-height: 1;
            font-weight: 500;
            letter-spacing: 0;
        }
        .hgroup {
            margin-top: -0.5rem;
            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}
@media screen and (min-width: 750px) { 
    .product-additional__info {
        margin-bottom: 9rem;
        .grid {
            border-bottom: 1px solid rgba(black, 0.15);
        }
        .grid__item {
            padding: 3rem 3rem 6.5rem 0;
            &:not(:last-child) {
                border-right: 1px solid rgba(black, 0.15);
            }
            h3 { 
                font-size: 4.8rem;
            }
            .hgroup {
                flex-grow: 1;
            }
        }
    }
}
@media screen and (max-width: 749px) { 
    .product-additional__info {
        .grid__item {
            justify-content: center;
            &:not(:last-child) {
                padding: 0 0 2rem;
            }
            .hgroup {
                display: flex;
                align-items: center;
                gap: 1rem;                
            }
        }
    }
}